*, 
*::before, *::after, 
*:before, *:after { 
box-sizing : border-box;
}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.enlaceSecundario{
    clear: none;
    color: lightgreen;
}
.imagen{
    float: left;
}
.tiempo{
    color: lightgray;
    font-size: smaller;
}

h1{
    font-family: 'Tangerine', serif;
    font-size: 5rem;
    background-color: cadetblue;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.noticiaPrincipal{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    box-shadow: 5px 5px; 
    padding: 1rem;
}
/* p:nth-of-type(1){
    color:blue
} */
p::first-line{
    font-weight: bold;
}
p::first-letter{
    font-size: 200%;
}
a:link{
    color: black;
}
a:visited{
    color: grey;
}
a:hover{
    color: red;
}

q { 
    display: inline;
}

q:before { 
    content: open-quote;
}

q:after { 
    content: close-quote;
}
/* Especificidad (Se aplican en cascada siempre que tengan el mismo nombre y tipo): 
a - inline (no se utilizan nunca)
b - por id
c - clases (recomendado)
d - etiquetas html

Si queremos ganar en especificidad hacemos esto:
p.p1 
o
p.p1.p1 (no se suele usar)

*/
